 * {
     font-family: -ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin: 0;
     padding: 0;
 }

 /*Utilities*/
 :root {
     --primary-color: #ff7835;
     --secondary-color: #5483f4;
     --primary-bg-color: #ffffff;
     --secondary-bg-color: #f9f9f9;
     --light-orange: #ffdec1;
 }

 li {
     list-style-type: none;
 }

 .text {
     color: #7c7c84;
     font-size: 1rem;
     line-height: 1.5rem;
     max-width: 475px;
 }

 #text-center {
     text-align: center;
 }

 .button {
     color: #ffffff;
     background-color: var(--primary-color);
     border: none;
     border-radius: 0.50rem;
     font-weight: 500;
     font-size: 14px;
     transition: brightness ease 1s;
     white-space: nowrap;
     border: #e4e4e7 solid 1px;
 }

 .button:hover {
     cursor: pointer;
     filter: brightness(0.9)
 }

 .icon-container {
     padding: 0.50rem;
     border-radius: 50%;
     min-width: 24px;
     height: 24px;
 }

 .section-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 5rem 10vw;
     box-sizing: border-box;
     gap: 2rem;
 }

 #even-section {
     background-color: #f9f9f9;
 }

 #odd-section {
     background-color: #ffffff;
 }

 .section-header {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 0.5rem;
 }

 /* App */
 .app-container {
     min-width: 320px;
     display: flex;
     flex-direction: column;
     background-color: #f9f9f9;
 }

 /* Header section */
 .header-container {
     min-width: 320px;
     position: sticky;
     top: 0;
 }

 .header {
     background-color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: #e4e4e7 solid 1px;
     box-sizing: border-box;
     padding: 1rem;
     position: relative;
     z-index: 1000;
 }

 .brand {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     cursor: pointer;
 }

 .basketball-logo-container {
     background-color: #e87521;
     border-radius: 0.4rem;
     position: relative;
     min-width: 33px;
     height: 33px;
 }

 .basketball-logo {
     font-size: 20px;
     position: absolute;
     top: 2px;
     right: 3px;
 }

 .brand-name {
     font-size: 20px;
     font-weight: bold;
     white-space: nowrap;
 }

 .navigation-bar {
     display: flex;
     align-items: center;
     gap: 1.5rem;
 }

 .navigation-link {
     width: fit-content;
     font-size: 0.875rem;
     font-weight: 500;
 }

 .navigation-link.text:hover {
     color: #09090b;
     cursor: pointer;
 }

 .navigation-button {
     width: 100%;
     padding: 0.6rem 1rem;
 }

 .hide-on-desktop {
     display: none;
 }

 @media (max-width: 600px) {
     .hide-on-mobile {
         display: none;
     }

     .mobile-navigation-bar {
         width: 100%;
         background-color: #ffffff;
         display: flex;
         flex-direction: column;
         gap: 1rem;
         padding: 1.5rem;
         position: absolute;
         z-index: 1;
         transition: transform 0.4s ease;
         transform: translateY(-100%);
         box-sizing: border-box;
     }

     .mobile-navigation-bar.open {
         transform: translateY(0);
     }

     .material-symbols-outlined {
         display: block;
         width: 32px;
         height: 32px;
     }

     .material-symbols-outlined:hover {
         display: block;
         cursor: pointer;
     }
 }

 /* Hero section */
 .hero-container {
     display: flex;
     flex-direction: column;
     gap: 1.25rem;
     min-width: 320px;
     padding: 6.75rem 0rem;
     background: linear-gradient(135deg, #fcf1e8, #edf2fd);
 }

 .hero-intro-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 2.25rem;
 }

 .tag {
     text-align: center;
     border-radius: 1rem;
     font-weight: 600;
     padding: 0.5rem 1rem;
     border: #e4e4e7 solid 1px;
 }

 #blue-tag {
     background-color: #e1e1fd;
 }

 #green-tag {
     background-color: #eaf5ec;
 }

 #orange-tag {
     color: #d95b1b;
     background-color: #fceee3;
 }

 #hero-orange-tag {
     color: #d95b1b;
     background-color: var(--light-orange);
 }

 .hero-title {
     text-align: center;
     font-size: clamp(1rem, 5vw, 2.25rem);
     line-height: clamp(2.50rem, 10vw, 4.50rem);
     letter-spacing: -0.025em;
 }

 .hero-button-container {
     display: flex;
     gap: 1rem;
     flex-wrap: wrap;
     justify-content: center;
 }

 .hero-button {
     padding: 0.40rem 3rem;
 }

 .hero-button#hero-register-button {
     color: #fff;
     background-color: var(--primary-color);
 }

 .hero-button#hero-schedule-button {
     color: #09090b;
     background-color: #fff;
 }

 .hero-information {
     display: flex;
     justify-content: space-evenly;
     margin: 1rem;
 }

 .information-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .information-container #number {
     font-size: 2.25rem;
     color: #e87521;
     line-height: 3rem;
     font-weight: 700;
 }

 /* Schedule section */
 .schedule-card-container {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(2, minmax(0, 1fr));
     justify-content: center;
     gap: 2rem;
 }

 .schedule-card {
     background-color: #ffffff;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding: 1.25rem;
     border: #e4e4e7 solid 1px;
     border-radius: 1rem;
 }

 @media (max-width: 800px) {
     .schedule-card-container {
         grid-template-columns: 1fr;
     }
 }

 .card-top {
     display: flex;
     justify-content: space-between;
 }

 .card-top .game-date div {
     color: #7c7c84;
     font-size: 0.875rem;
     margin-top: 0.25rem;
 }

 .schedule-tag {
     font-size: 0.9rem;
     font-weight: 700;
     border: solid #e4e4e7 1px;
     border-radius: 0.50rem;
     padding: 0.25rem 0.75rem;
     height: fit-content;
 }

 .tag.schedule-tag#open-schedule {
     color: #4e8e53;
     background-color: #e1fbe6;
 }

 .tag.schedule-tag#closed-schedule {
     color: #aa231f;
     background-color: #f9e3e3;
 }

 .card-center {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
 }

 .card-center .icon-info span {
     font-size: 0.875rem;
     margin-left: 0.25rem;
 }

 .card-center svg {
     width: 14px;
     height: 14px;
     margin-right: 0.25rem;
 }

 .card-bottom {
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 0.25rem;
 }

 .card-bottom .progress-text span {
     color: #7c7c84;
     font-size: 14px;
 }

 .progress-text {
     display: flex;
     justify-content: space-between;
 }

 .progress-bar-container {
     background-color: #e4e4e7;
     height: 0.5rem;
     display: flex;
     border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
 }

 .fill-orange {
     width: var(--orange-progress);
     border-radius: 0.25rem 0 0 0.25rem;
     background-color: var(--primary-color);
 }

 .fill-blue {
     width: var(--blue-progress);
     border-radius: 0 0.25rem 0.25rem 0;
     background-color: var(--secondary-color);
 }

 .legend-player-status {
     display: flex;
     gap: 1rem;
     margin: 1rem 0;
     flex-wrap: wrap;
 }

 .player-status {
     display: flex;
     align-items: center;
     gap: 0.75rem;
 }

 .circle {
     height: 12px;
     width: 12px;
     border-radius: 50%;
 }

 .circle.blue {
     background-color: var(--secondary-color);
 }

 .schedule-card-button {
     color: #fff;
     padding: 0.5rem 1rem;
 }

 .schedule-card-button-container {
     display: flex;
     justify-content: end;
 }

 /* Rule section */
 .game-format-container {
     width: 100%;
     min-width: 320px;
     display: flex;
     flex-direction: column;
     gap: 0.50rem;
     border: solid #e4e4e7 1px;
     border-radius: 0.50rem;
     background: linear-gradient(134deg, #fcf1e8, #edf2fd);
     padding: 1rem;
     box-sizing: border-box;
 }

 .rule-card {
     display: flex;
     gap: 1rem;
     border: solid #e4e4e7 1px;
     border-radius: 0.50rem;
     padding: 1.5rem;
 }

 .rule-card-container {
     width: 100%;
     display: grid;
     grid-template-rows: auto;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     justify-content: stretch;
     gap: 2rem;
     min-width: 320px;
 }

 #square-tag {
     color: #d95b1b;
     background-color: #fceee3;
     border-radius: 0.5rem;
 }

 /* pricing section */
 .pricing-card {
     display: flex;
     flex-direction: column;
     align-items: center;
     border: #e4e4e7 solid 1px;
     border-radius: 1rem;
     gap: 0.50rem;
     background-color: #fff;
     padding: 2rem 3vw;
 }

 .game-price-container {
     display: flex;
     align-items: flex-end;
     gap: 0.50rem;
 }

 .price {
     letter-spacing: -2.00px;
 }

 .benefits-container {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: flex-start;
     gap: 0.50rem;
     margin: 1rem 0;
 }

 .check-icon-container {
     display: flex;
     gap: 0.50rem;
 }

 #pricing-button {
     color: #fff;
     font-size: 1rem;
     padding: 0.5rem 6rem;
 }

 .payment-method-container {
     width: 100%;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     border: solid #e4e4e7 1px;
     border-radius: 1rem;
     padding: 1rem;
 }

 .payment-method-header {
     display: flex;
     gap: 0.75rem;
     align-items: center;
 }

 .payment-method-note {
     background-color: #f7f7f7;
     padding: 1rem;
     border: solid #e4e4e7 1px;
     border-radius: 0.5rem;
 }

 /* registration section */
 .register-form-card {
     display: flex;
     flex-direction: column;
     gap: 2rem;
     border: solid #e4e4e7 1px;
     border-radius: 0.50rem;
     padding: 3.5vw;
 }

 .register-form-input-container {
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
 }

 .register-form-label {
     font-size: 1rem;
     font-weight: 500;
 }

 .register-form-input {
     border: solid #e4e4e7 1px;
     border-radius: 0.5rem;
     padding: 0.50rem;
     font-size: 1rem;
 }

 .radio-button-container {
     border: solid #7c7c84 1px;
     border-radius: 1rem;
     display: flex;
     align-items: center;
     gap: 1rem;
     padding: 1rem;
     cursor: pointer;
     margin-bottom: 1rem;
 }

 #confirmed-player {
     background-color: var(--primary-color);
     color: #fff;
 }

 #potential-player {
     background-color: var(--secondary-color);
     color: #fff;
 }

 .radio-slot-circle {
     min-height: 24px;
     min-width: 24px;
     background-color: #fff;
     border: solid #09090b 1px;
     border-radius: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .radio-circle#confirmed-player {
     background-color: var(--primary-color);
 }

 .radio-circle#potential-player {
     background-color: var(--secondary-color);
 }

 .radio-circle {
     height: 12px;
     width: 12px;
     border-radius: 50%;
 }

 .radio-text-container {
     display: flex;
     flex-direction: column;
 }

 .register-button {
     color: #09090b;
     background-color: #ffffff;
     padding: 0.5rem 8vw;
 }

 .footer {
     min-width: 320px;
     background-color: #f9f9f9;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 3rem;
     padding: 3rem 2rem;
     box-sizing: border-box;
 }

 .footer-summary-container {
     display: flex;
     flex-direction: column;
     gap: 1rem;
 }

 #footer-text {
     max-width: 240px;
 }

 .footer-grid {
     max-width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
     gap: 2rem 1rem;
 }

 .footer-col {
     display: grid;
     gap: 0.25rem
 }

 #footer-links {
     grid-template-rows: 1.5fr repeat(4, 1fr);
 }

 #footer-contact, #footer-socials {
     grid-template-rows: 1.5fr repeat(3, 1fr);
 }